:root {
  --theme-color: #14ffad;
  --accent-color: #ff6e14;
  --tint-color: #ecfcf9;
}

::selection{
  background:rgba(0,0,0,0.08);
}


html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--tint-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #555;
  line-height: 1.7;
  border-top: solid 6px var(--theme-color);
  background-color: #fff;
}

header,
main,
footer {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 2rem;
}
footer {
  border-top: solid 1px var(--tint-color);
  font-size: 0.8rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.tint {
  background-color: var(--tint-color);
}

h1, h2, h3 {
  margin:0;
  padding: 1rem 0 0;
  line-height: 1.2;
  color: #000;
}
h1 {
  font-size: 3rem;
}
.subtitle {
  margin:0;
  padding:0;
  font-size: 1.2rem;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: var(--theme-color);
}
a:hover,
a:focus {
  background-color: var(--theme-color);
}
a.naked:link,
a.naked:visited,
a.naked:hover,
a.naked:focus {
  border-bottom-style:none;
  background-color: transparent;
}


.netliheart {
  margin-bottom:-0.1rem;
  width: 1rem;
}


.product {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem 0;
}

.product img {
  width: 30%;
}
.product .info {
  width: 65%;
}

.price {
  font-weight: bold;
  color: #000;
  margin-left: 0.5rem;
}

.btn:link,
.btn:visited {
  font-size: 0.8rem;
  color: var(--theme-color);
  background-color: #000;
  padding: 4px 8px 6px;
  border-radius: 3px;
  border-style: none;
  box-shadow: 1px 2px 8px 2px #0000001a;
}

.btn:hover {
  color: #000;
  background-color: var(--theme-color);
}
